.nav {
  height: 75px;
  left: 100%;
  padding: 0 20px;
  position: fixed;
  top: 0;
  transform: rotate(90deg);
  transform-origin: top left;
  width: 100vh;
  z-index: 100;
}

.nav__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;
  max-width: $max-width;
}

.nav__home {
  color: $dark-gray;
  font-weight: 900;
  font-size: 42px;
  text-decoration: none;
}

.nav__menu {}

.nav__menuButton {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 14px;
}

.nav__hamburger {
  display: flex;
  flex-flow: column;
  height: 16px;
  justify-content: space-between;
  margin-left: 10px;
  width: 30px;

  > span {
    background-color: $black;
    display: inline-block;
    height: 2px;
    width: 100%;
  }
}
