.shape-overlays {
  height: 100vh;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 0;
}

.shape-overlays__path {
  fill: rgba($white, 0.9);
  transition: fill $long $cubic-bezier;
}

body.is-transitioning {
  .shape-overlays__path {
    fill: rgba($white, 0.6);
  }
}

.transitionOverlay.shape-overlays {
  z-index: 500;

  .shape-overlays__path {
    fill: $blue;
    transition-duration: 0ms;
  }
}
