.video {
  background-color: $dark-gray;
  font-size: 0;

  > video {
    opacity: 0;
    transition: opacity $mid $cubic-bezier;
    width: 100%;
  }

  > video[poster] {
    object-fit: cover;
  }

  &.is-visible {
    > video {
      opacity: 1;
    }
  }
}
