.home {
  padding-top: 100vh;
  position: relative;
}

.home__header {
  align-items: center;
  display: flex;
  height: 100vh;
  left: 0;
  padding: 0 20px;
  position: absolute;
  top: 0;
  width: 100%;
}

.home__headerText {
  margin: 0 auto;
  max-width: $max-width;
  text-align: right;
  width: 100%;
}

.home__h1 {
  > span {
    display: block;
  }
}

.home__name {
  color: $red;
}

.home__sub {
  margin-top: 15px;
  position: relative;
}

.home__about {
  margin: 0 auto;
  max-width: $max-width;
  padding: 120px 20px;
}

.home__h2 {
  font-weight: 400;
}
