$body-font: 'Raleway', Helvetica, sans-serif;
$head-font: 'Slabo 27px', Georgia, serif;
$pulseband-primary: #dbdbdb;
$pulseband-secondary: #1c82aa;

* {
  box-sizing: border-box;
}

.pulseband-body {
  font-family: $body-font;
  color: #1e1e1e;
  background-color: #ccc;

  header {
    background-color: $pulseband-primary;

    .sliced .head-text {
      color: #1e1e1e;
    }

    .drawings .line-drawing path {
      stroke: #1e1e1e;
    }
  }

  .scroll-down:hover {
    border-color: $pulseband-secondary;
    background-color: $pulseband-secondary;
  }

  .logo-container {
    background-color: $pulseband-secondary;
  }

  .active {
    border-bottom: 3px solid $pulseband-secondary;
  }

  nav {
    .scroll li,
    .scroll li a {
      color: #1e1e1e;
    }

    .nav {
      li:hover {
        color: $pulseband-secondary;
      }

      a:hover {
        color: $pulseband-secondary;
      }
    }
  }

  .about a:hover {
    color: $pulseband-secondary;
  }

  .prev,
  .next {
    color: $pulseband-secondary;
  }

  .main {
    padding-top: 1%;
    background-color: $pulseband-primary;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    line-height: 22px;
    margin: 0 auto;

    h2 {
      font-family: $head-font;
      font-size: 42px;
      letter-spacing: 1px;
    }
    
    p {
      width: 60%;
      max-width: 750px;
      margin: 0 auto;
      text-align: left;
    }

    .summary {
      text-align: center;
      margin: 25px auto 75px;
    }

    .tags {
      background-color: $pulseband-secondary;
      color: #eaeaea;
      text-align: center;

      h2 {
        margin: 0 auto;
        padding: 35px 0 20px;
        width: 85%;
        font-size: 26px;
      }

      p {
        text-align: center;
        margin: 0 auto;
        width: 85%;
        padding-bottom: 35px;
      }

      .skills {
        float: left;
        width: 40%;
        margin-left: 10%;
      }

      .deliverables {
        float: left;
        width: 40%;
        margin-right: 10%;
      }
    }
    
    .map {
      h2 {
        margin: 75px 0 35px;
      }

      p {
        margin-top: 25px;
        border-bottom: 1px solid #999;
        padding-bottom: 75px;
      }
    }

    .process {
      h2 {
        margin: 75px 0 35px;
      }

      p {
        margin-top: 25px;
        margin-bottom: 50px;
      }

      .campfire {
        img {
          width: 17.5%;
          padding: 0 1.25%;
          margin-bottom: 15px;
        }

        figcaption {
          margin: 0 auto 50px;
          font-style: italic;
          width: 70%;
        }
      }

      .styletile {
        margin: 0 auto 50px;
        width: 60%;

        img {
          -webkit-box-shadow: 0px 0px 7.5px 0px rgba(0,0,0,1);
          -moz-box-shadow: 0px 0px 7.5px 0px rgba(0,0,0,1);
          -o-box-shadow: 0px 0px 7.5px 0px rgba(0,0,0,1);
          box-shadow: 0px 0px 7.5px 0px rgba(0,0,0,1);
          width: 90%;
        }
      }

      .sketches {
        width: 60%;
        margin: 0 auto 50px;

        img {
          -webkit-box-shadow: 0px 0px 7.5px 0px rgba(0,0,0,1);
          -moz-box-shadow: 0px 0px 7.5px 0px rgba(0,0,0,1);
          -o-box-shadow: 0px 0px 7.5px 0px rgba(0,0,0,1);
          box-shadow: 0px 0px 7.5px 0px rgba(0,0,0,1);
          width: 45%;
          margin: 0.75%;
        }
      }

      .designs {
        padding-bottom: 60px;

        img {
          width: 75%;
          padding: 15px 0;
        }
      }
    }

    .development {
      padding-bottom: 25px;

      h2,
      h3 {
        font-family: $head-font;
        text-transform: uppercase;
      }

      h2 {
        margin: 0 auto;
        width: 60%;
        padding-top: 75px;
        border-top: 1px solid #999;
        margin-bottom: 35px;
      }

      h3 {
        font-size: 24px;
        margin-bottom: 15px;
      }

      p {
        margin-bottom: 35px;
      }
    }

    .links {
      margin: 0 auto;
      width: 60%;
      padding-top: 75px;
      border-top: 1px solid #999;

      a {
        border: 2px solid #1e1e1e;
        color: #1e1e1e;
      }

      a:before {
        background-color: $pulseband-secondary;
      }

      a:hover {
        color: #eaeaea;
        border-color: $pulseband-secondary;
      }
    }
  }

  footer {
    text-align: center;
    height: 75px;
    line-height: 75px;
    vertical-align: middle;
    color: #eaeaea;
    background-color: $pulseband-secondary;
  }
}

@media screen and (max-width: 1024px) {
  .pulseband-body {
    .about {
      width: 80%;
    }

    .main {
      p {
        width: 70%;
      }

      .process {
        .campfire {
          img {
            width: 20%;
          }
        }

        .styletile {
          width: 70%;
        }

        .sketches {
          width: 70%;
        }

        .designs {
          img {
            width: 80%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .pulseband-body {
    .about {
      width: 100%;
    }

    nav {
      .works {
        li {
          width: 100%;
          height: 33.33vh;
          float: none;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .pulseband-body {
    nav {
      height: 50px;
    }

    nav.scroll {
      background-color: $pulseband-primary;
      -webkit-transition: all 0.3s 0.5s;
      -moz-transition: all 0.3s 0.5s;
      -o-transition: all 0.3s 0.5s;
      transition: all 0.3s 0.5s;
    }

    .about {
      -webkit-transform: translate(0, -100vh);
      -moz-transform: translate(0, -100vh);
      -o-transform: translate(0, -100vh);
      transform: translate(0, -100vh);

      .pic {
        width: 33.33%;
        height: 33.33vw;
        margin: 15px auto;
      }

      h2,
      p,
      h3 {
        width: 90%;
      }

      h2 {
        font-size: 32px;
        margin-bottom: 15px;
      }

      p {
        font-size: 16px;
        line-height: 20px;
      }

      h3 {
        font-size: 24px;
        margin: 25px auto 15px;
      }

      .social {
        margin-top: 15px;
      }
    }

    .about-show {
      visibility: visible;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }

    header {
      .slice {
        .head-text {
          h1 {
            font-size: 60px;
          }
        }
      }

      .prev,
      .next {
        width: 40px;
        height: 40px;
        line-height: 40px;

        span {
          height: 40px;
        }
      }

      .next {
        span {
          right: 40px;
        }
      }

      .prev {
        span {
          left: 40px;
        }
      }
    }

    .main {
      h2 {
        font-size: 36px;
      }

      .tags {
        h2 {
          font-size: 22px;
          width: 95%;
        }

        p {
          width: 95%;
        }

        .skills {
          width: 45%;
          margin-left: 5%;
        }

        .deliverables {
          width: 45%;
          margin-right: 5%;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .pulseband-body {
    header {
      .slice {
        .head-text {
          h1 {
            font-size: 56px;
          }
        }
      }
      
      .prev:hover span,
      .next:hover span {
        width: 0;
        opacity: 0;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .pulseband-body {
    nav {
      .nav {
        li {
          margin-left: 20px;
          font-size: 16px;
        }
      }
    }
  }
}