body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $off-white;
  color: $dark-gray;
  font-family: $sans;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

article {
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

p {
  font-size: 18px;
  line-height: 22px;
}

#root:after {
  border: 10px solid $dark-gray;
  content: '';
  display: block;
  height: calc(100vh - 20px);
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: calc(100vw - 20px);
  z-index: 1000;

  @media screen and (max-width: $mdViewport) {
    border-width: 6px;
    height: calc(100vh - 12px);
    width: calc(100vw - 12px);
  }
}

.hangul {
  font-family: $hangul;
}

.h1 {
  font-family: $display;
  font-size: 72px;
  font-weight: 700;
  line-height: 78px;
}

.h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 52px;
}

@media screen and (max-width: $smViewport) {
  p {
    font-size: 16px;
    line-height: 18px;
  }
}
