@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans:400");
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
// @import url('https://fonts.googleapis.com/css?family=Oswald:700');

// @font-face {
//   font-family: 'Jokal';
//   font-style: normal;
//   font-weight: 400;
//   src: url('../../assets/fonts/jokal-webfont.woff2') format('woff2'),
//        url('../../assets/fonts/jokal-webfont.woff') format('woff');
// }

@font-face {
  font-family: 'Zona Pro Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/zonapro-bold-webfont.woff2') format('woff2'),
       url('../../assets/fonts/zonapro-bold-webfont.woff') format('woff');
}

// @font-face {
//   font-family: 'Axis';
//   font-style: normal;
//   font-weight: 700;
//   src: url('../../assets/fonts/axis-webfont.woff2') format('woff2'),
//        url('../../assets/fonts/axis-webfont.woff') format('woff');
// }
