.arrow__down {
  cursor: pointer;
  height: 30px;
  position: relative;
  width: 30px;

  &:before {
    background-color: $dark-gray;
    content: '';
    display: block;
    height: 26px;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 3px;
  }
}

.arrow__caret {
  &:before,
  &:after {
    background-color: $dark-gray;
    bottom: 0;
    content: '';
    display: block;
    height: 18px;
    left: 50%;
    position: absolute;
    width: 3px;
  }

  &:before {
    transform: translateX(calc(-50% + 5.5px)) rotate(45deg);
  }

  &:after {
    transform: translateX(calc(-50% - 5.5px)) rotate(-45deg);
  }
}
