@import './reset';
@import './fonts';
@import './variables';

@import './components';
@import './pages';

.hangul {
  font-family: $hangul;
}

.sans {
  font-family: $sans;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $sans;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
