@import './reset.scss';
@import './fonts.scss';
@import '../pages/ComingSoon.scss';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $sans;
  font-size: 120px;
}

* {
  box-sizing: border-box;
}
