$hangul: 'Black Han Sans';
$sans: 'Inter UI', 'Helvetica', 'sans-serif';

$black: #000000;
$white: #FFFFFF;
$dark-gray: #222222;
$off-white: #FAFAFA;
$navy: #204E5F;
$light-pink: #FFC6A8;
$pink: #FF8984;
$blue: #B7D7D8;
$gray: #EDF7F5;

$max-width: 1200px;

$smViewport: 480px;
$mdViewport: 768px;
$lgViewport: 1080px;
$xlViewport: 1600px;
