.Home {
  font-family: Helvetica;
  font-weight: 700;
  min-height: 100vh;
  position: relative;
}

.Home-background {
  font-size: 25vh;
  line-height: 25vh;
  overflow: hidden;
  text-transform: uppercase;
}

.Home-marquee {
  color: #fff;
  max-width: 100vw;
  overflow: hidden;
  pointer-events: none;
  text-shadow: 0 0 2px #000;
  white-space: nowrap;

  > span {
    animation: marquee 30s linear infinite;
    display: inline-block;
  }

  &.Home-marquee__reverse > span {
    animation: marquee-reverse 30s linear infinite;
  }
}

.Home-hero {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.Home-heroText {
  font-size: 120px;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 480px) {
  .Home-heroText {
    font-size: 80px;
    margin-left: 10px;
  }
}
